.main_bg {
  height: 100vh;
  background-image: url("./img/main-leaf.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.8;
}
.contentImg {
  width: 80%;
}
.start {
  opacity: 0;
}
.end {
  opacity: 1;
  transition: opacity 0.5s;
}
